# Ассоциативные правила. Алгоритм Априори

В таблице содержится информация о покупках. Необходимо, воспользовавшись этими данными, выяснить, какие пары товаров пользователи чаще всего покупают вместе.

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori

In [4]:
purchases = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')
purchases.head()

      id            Товар  Количество
0  17119            Лимон         1.1
1  17119  Лимон оранжевый         0.7
2  17119        Лук-порей        10.0
3  17119     Лук репчатый         2.5
4  17119    Малина свежая         1.0

In [6]:
purchases = purchases.rename({'Товар': 'goods', 'Количество': 'quantity'}, axis=1)

In [7]:
# переводим данные в сводную таблицу
df = pd.pivot_table(purchases, values='quantity',
                    index='id', columns='goods').fillna(0)

In [8]:
df

goods,Абрикос вяленый,Абрикосы молдавские,Авокадо ХАСС,Авокадо стандарт,Алыча вяленая,Ананас Gold,Ананасовые кольца,Апельсины столовые,Арбуз,Арбуз овальный,...,Яблоки Гала,Яблоки Голден,Яблоки Джонаголд,Яблоки Мутсу,Яблоки Симиренко,Яблоки Фуджи,Яблоки Чемпион,Яблоки сезонные,Яблоки сушеные,Ягоды Годжи
id,,,,,,,,,,,,,,,,,,,,,
17119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
17530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
17618,0.0,0.4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,1.7
17724,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,...,1.0,0.0,0.0,0.0,0.5,0.00,0.0,0.0,0.0,0.0
17814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
119110,0.0,0.0,2.8,0.0,0.0,0.0,0.0,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,1.0,0.0,0.0,1.7
119206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
119393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.25,0.0,0.0,0.0,0.0
119396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0

In [9]:
# так как количество товара в данном случае не играет роли, перекодируем купленный товар/не купленный в True/False
df = df.applymap(lambda x: 0 if not x else 1)
df.head()

goods,Абрикос вяленый,Абрикосы молдавские,Авокадо ХАСС,Авокадо стандарт,Алыча вяленая,Ананас Gold,Ананасовые кольца,Апельсины столовые,Арбуз,Арбуз овальный,...,Яблоки Гала,Яблоки Голден,Яблоки Джонаголд,Яблоки Мутсу,Яблоки Симиренко,Яблоки Фуджи,Яблоки Чемпион,Яблоки сезонные,Яблоки сушеные,Ягоды Годжи
id,,,,,,,,,,,,,,,,,,,,,
17119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17530,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17618,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
17724,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
17814,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
transactions_count = df.size

In [14]:
# используя модуль apriori ищем наиболее встречаемые пары товаров 
frequent_items = apriori(df, min_support=0.05, use_colnames=True)

# так как модуль рассматривает все возможные комбинации, отбираем только те данные, которые для пар товаров
frequent_items['length'] = frequent_items['itemsets'].apply(len)
frequent_items = frequent_items.query('length == 2')

frequent_items.head()

      support                                  itemsets  length
109  0.060800  (Абрикосы молдавские, Огурцы Луховицкие)       2
110  0.054690              (Абрикосы молдавские, Укроп)       2
111  0.058356              (Баклажаны грунтовые, Арбуз)       2
112  0.072411                           (Арбуз, Бананы)       2
113  0.069966                          (Арбуз, Кабачки)       2

In [15]:
# создаем столбик frequency, как произведение support на количество транзакций
frequent_items['frequency'] = frequent_items['support'] * transactions_count
frequent_items = frequent_items.drop(columns=['length', 'support'])

In [16]:
frequent_items = frequent_items.sort_values('frequency', ascending=False)

In [17]:
frequent_items = pd.DataFrame(frequent_items).reset_index(drop=True)
frequent_items[['good_1', 'good_2']] = pd.DataFrame(frequent_items.itemsets.to_list())
frequent_items = frequent_items.drop(columns='itemsets')

In [21]:
frequent_items

    frequency               good_1                   good_2
0     85769.0    Огурцы Луховицкие                    Укроп
1     81192.0                Укроп                 Петрушка
2     68655.0    Огурцы Луховицкие                    Арбуз
3     64874.0    Огурцы Луховицкие                  Кабачки
4     60297.0                Укроп                    Кинза
5     59700.0                Укроп              Лук зеленый
6     56914.0    Огурцы Луховицкие                 Петрушка
7     56715.0    Огурцы Луховицкие             Лук репчатый
8     56516.0  Баклажаны грунтовые                  Кабачки
9     55919.0                Укроп                  Кабачки
10    54924.0    Огурцы Луховицкие      Баклажаны грунтовые
11    54526.0                Укроп                    Арбуз
12    54128.0                Укроп             Лук репчатый
13    52934.0    Огурцы Луховицкие        Помидоры Парадайз
14    52735.0  Баклажаны грунтовые                    Укроп
15    52536.0    Огурцы Луховицкие                   Бананы
16    49551.0    Огурцы Луховицкие                    Кинза
17    48556.0    Огурцы Луховицкие  Персики азербайджанские
18    47561.0                Укроп                   Бананы
19    47163.0                Арбуз                   Бананы
20    45571.0                Арбуз                  Кабачки
21    44576.0    Огурцы Луховицкие        Персики армянские
22    43979.0    Огурцы Луховицкие              Лук зеленый
23    40994.0         Лук репчатый                  Кабачки
24    40795.0                Укроп        Помидоры Парадайз
25    40596.0          Лук зеленый                 Петрушка
26    40397.0                Арбуз  Персики азербайджанские
27    39999.0                Кинза                 Петрушка
28    39999.0         Лук репчатый                    Арбуз
29    39800.0    Персики армянские                    Арбуз
30    39601.0  Абрикосы молдавские        Огурцы Луховицкие
31    39402.0                Укроп  Персики азербайджанские
32    38407.0  Баклажаны грунтовые             Лук репчатый
33    38009.0  Баклажаны грунтовые                    Арбуз
34    38009.0                Укроп        Персики армянские
35    37810.0              Кабачки                 Петрушка
36    37213.0                Арбуз        Помидоры Парадайз
37    37014.0         Лук репчатый                 Петрушка
38    37014.0          Лук зеленый                    Арбуз
39    36815.0                Укроп        Огурцы Белоруссия
40    36616.0    Огурцы Луховицкие                    Лимон
41    36218.0      Кукуруза свежая                    Арбуз
42    36218.0              Кабачки                   Бананы
43    35820.0  Баклажаны грунтовые                 Петрушка
44    35621.0    Огурцы Луховицкие          Кукуруза свежая
45    35621.0  Абрикосы молдавские                    Укроп
46    35422.0    Персики армянские  Персики азербайджанские
47    34825.0    Огурцы Луховицкие           Чеснок молодой
48    34427.0  Баклажаны грунтовые                   Бананы
49    33034.0         Лук репчатый                   Бананы
50    32835.0               Бананы                 Петрушка

In [22]:
# отбираем топ-10 пар товаров
frequent_itemsets_top = frequent_itemsets.sort_values('frequency', ascending=False).head(10)
frequent_itemsets_top

                              itemsets  frequency
153         (Огурцы Луховицкие, Укроп)    85769.0
158                  (Укроп, Петрушка)    81192.0
117         (Огурцы Луховицкие, Арбуз)    68655.0
134       (Огурцы Луховицкие, Кабачки)    64874.0
139                     (Укроп, Кинза)    60297.0
144               (Укроп, Лук зеленый)    59700.0
151      (Огурцы Луховицкие, Петрушка)    56914.0
145  (Огурцы Луховицкие, Лук репчатый)    56715.0
123     (Баклажаны грунтовые, Кабачки)    56516.0
136                   (Укроп, Кабачки)    55919.0

# Выводы

* Наиболее часто встречаемые пары товаров состоят преимущественно из овощей, самая распространенная пара это "огурцы и укроп". Вероятно это связано с тем, что это самые распространенные ингредиенты для салата.

* В топ-5 пар попал паттерн "огурцы и арбуз", скорее всего это связано с сезонностью.

* Также стоит отметить, что чаще всего одним из товаров в паре являются "огурцы", что можно объяснить тем, что данный овощ является самым распространенным в продуктовой корзине в принципе.

Подобный анализ продуктовой корзины позволяет оптимизировать размещение товаров в магазине, для увеличения выручки и удобства покупателя, если рассматривать онлайн-магазин, то полученные данные можно использовать для выдачи определенных рекомендаций пользователю в зависимости от продуктов в его корзине.